* {
    padding: 0;
    margin: 0;
}


body {
    color: aliceblue;
    background-color: #808080;
    font-style: initial;
    font-size: 17px;
}

article {
    background-color: #e0dedec5;
    margin-left: 100px;
    margin-right: 100px;
    color: black;
    padding: 20px;
}

header {
    padding: 50px;
    font-style: italic;
    background: -webkit-linear-gradient(87deg, #000000,#808080,#000000);/* Chrome 10-25, Safari 5.1-6 */                          background: linear-gradient(87deg, #000000,#808080,#000000);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                             
}

.container {
    display: flex;
    align-items: center;
}

.titu {
    margin-left: 250px;
    font-size: 30px;
}


.titulo a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 3px;
    background-color: #808080;
}

.socrates a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 3px;
    background-color: #808080;
}

.liberta a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 3px;
    background-color: #808080;
}

footer {
    margin-left: 100px;
    height: 100px;
}

.Site a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}